body {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: 'Raleway', sans-serif;
   font-size: 50px;
   color: #999999;
}

.debug__panel__data {
   -webkit-user-select: text;
   -moz-user-select: -moz-text;
   -webkit-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

body {
    font-family: 'Raleway', sans-serif;
}

canvas {
	background-color: white;
	border-color: #ddd;
	margin: 1em;
	cursor: crosshair;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

canvas:active, canvas:focus {
	/* Bug in lots of browsers makes this not work once a
	 selectable text node is a sibling */
	cursor: crosshair;
}

.debug {
	color: #aaa;
	float: right;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	margin: 1em;
}

.debug__input {
	color: #aaa;
	width: 3em;
}

.debug__panel {
	margin-left: 3em;
	margin-bottom: 1em;
}

.debug__panel {
	display: none;
}

.debug__panel.is-shown {
	display: block;
}

.key {
	color: #777;
}

#timer {
    position: fixed;
    top: 0;
    right: 100px;
    text-align: left;
    z-index: 1000000;
}

#countDiv {
    position: fixed;
    top: 0;
    left: 100px;
    text-align: right;
    z-index: 1000000;
}
